body {
    background-color: #181818;
    color: rgb(255, 255, 255);
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    height: 10vh;
    max-width: 500vw;
}

.title-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.title h1 {
    margin-bottom: 0;
}

.title {
    font-size: 16px;
}

.title-subtext {
    margin: 0;
    line-height: 1;
    font-weight: 400;
}

.line {
    height: 1px;
    background-color: #333;
    width: 42vw;
    margin-top: 10px;
}

.box {
    width: 40vw;
    height: 40vh;
    background-color: rgba(28, 24, 28, 0.408);
    border: 2px solid #333;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: left;
}

@media (max-width: 768px) {
    .box {
        width: 80vw;

        min-width: 280px;

        height: min(45vh, 350px);
    }

    .line {
        width: 85vw;

        min-width: 280px;
    }
}

.buttons {
    display: flex;
    gap: 10px;
}

.Home {
    font-size: 17px;
    padding: 8px 15px;
    border: 2px solid #333;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    font-weight: 400;
    display: inline-block;
    align-items: center;
}

.Home:hover {
    color: #9af1ff;
}

a.Home {
    text-decoration: none;
}

.About {
    font-size: 17px;
    padding: 8px 15px;
    border: 2px solid #333;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    font-weight: 400;
    display: inline-block;
    align-items: center;
}

.About:hover {
    color: #9af1ff;
}

a.About {
    text-decoration: none;
}

.Contact {
    font-size: 17px;
    padding: 8px 15px;
    border: 2px solid #333;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    font-weight: 400;
    display: inline-block;
    align-items: center;
}

.Contact:hover {
    color: #9af1ff;
}

a.Contact {
    text-decoration: none;
}

.nira_chan {
    color: #9af1ff;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
}

.image-div {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 10px;
}

.lastfm-text {
    color: white;
}

.currently-playing {
    font-weight: 700;
    font-size: 14px;
}

.text-container {
    padding-left: 20px;
    margin: 0;
}




.contactbox {
    display: flex;
}

.twitterbox {
    width: 20vw;
    height: 40vh;
    background-color: rgba(28, 24, 28, 0.408);
    border: 2px solid #333;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: left;
    flex: 1;
}