body {
    background: linear-gradient(to bottom, #65657c, #000 100%);
    background-repeat: no-repeat scroll;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

@media (max-width: 768px) {
    body {
        background: linear-gradient(to bottom, #3c3c46 0%, #000000 60%);
        background-repeat: no-repeat scroll;
        background-size: cover;
        background-attachment: fixed;
    }
}

.svgs {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    margin-top: 10px;
    gap: 10px;
}

.discordsvg svg {
    padding-top: 5px;
    width: 2.5vw;
    height: auto;
}

@media (max-width: 768px) {

    .twittersvg svg {
        width: 7vw;
    }
}

@media (max-width: 768px) {

    .discordsvg svg {
        width: 8.5vw;
    }
}

.twittersvg {
    display: flex;
    align-items: center;
    width: auto;
}

.twittersvg svg {
    width: 1.5vw;
    height: auto;
}

.title-container {
    display: flex;
    flex-direction: column;
    height: 10vh;
    max-width: 500vw;
}

.title-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.title h1 {
    margin-bottom: 0;
}

.title {
    font-size: 15x;
}

.title-subtext {
    margin: 0;
    line-height: 1;
    font-weight: 400;
    font-size: 18px;
}

.line {
    height: 1px;
    background-color: #333;
    width: 40vw;
    margin-top: 20px;
}

.box-container {
    display: flex;
    gap: 10px;
}

.box {
    width: 22vw;
    padding: 20px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 400;
    background-color: #292929;
    box-shadow: 0 0 4px 2px #c4baff;
}


@media (max-width: 768px) {

    .box-container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 80vw;

        min-width: 140px;

        height: auto;
    }

    .box2 {
        width: 80vw !important;

        min-width: 140px;

        height: auto;

    }



    .line {
        width: 85vw;

        min-width: 280px;
    }
}

.box2 {
    width: 13vw;
    background-color: #292929;
    padding: 20px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 400;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-border {
    display: flex;
    align-items: center;
}

.Home {
    font-size: 18px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 400;
    display: inline-block;
    align-items: center;
}

.Home:hover {
    color: #823cdd;
    ;
}

a.Home {
    text-decoration: none;
}

.About {
    font-size: 18px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 400;
    display: inline-block;
    align-items: center;
}

.About:hover {
    color: #9263dd;
    ;
}

a.About {
    text-decoration: none;
}

.Contact {
    font-size: 18px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 400;
    display: inline-block;
    align-items: center;
}

.Contact:hover {
    color: #9263dd;
    ;
}

a.Contact {
    text-decoration: none;
}

.nira_chan {
    color: #a8b3de
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
}

.image-div {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 10px;
}

.lastfm-text {
    color: white;
}

.currently-playing {
    font-weight: 700;
    font-size: 14px;
}

.text-container {
    padding-left: 20px;
    margin: 0;
}

.contactbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.col1 {
    display: flex;
    flex-direction: column;
}

.col2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.col3 {
    display: flex;
    flex-direction: column;
}

.col1,
.col2,
.col3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.twitterbox {
    width: 12vw;
    min-height: 150px;
    min-width: 100px;
    background-color: rgba(28, 24, 28, 0.408);
    border: 2px solid #333;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0;
}

@media (max-width: 768px) {
    .twitterbox {
        width: 12vw;

        min-width: 80px;

        height: min(13vh, 60px);
    }
}

.friends {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.link-box {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #18181800;
    border: 2px solid #ff9ac1;
    margin: 0;
}

.link-box img {
    display: inline-block;
    width: 40px;
    height: auto;
    margin: 0;
}

.link-box2 {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #18181800;
    border: 2px solid #ff9ac1;
    margin: 0;
}

.link-box2 img {
    display: inline-block;
    width: 40px;
    height: auto;
    margin: 0;
}

.pythonemoji {
    display: inline;
    width: 2vw;
    height: auto;
    vertical-align: middle;
    margin: 0 -7px;
}

@media (max-width: 768px) {

    .pythonemoji {
        width: 7vw;
    }
}

.projectwrapper {
    display: flex;
    justify-content: row;
    gap: 10px;
}

.projectcol1box {
    padding-top: 10px;
    background-color: #292929;
    border: 2px solid #333;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    width: 17.5vw;
    text-align: left;
    color: #ffffff;
}

.projectcol2box {
    padding-top: 10px;
    background-color: #292929;
    border: 2px solid #333;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    width: 17.5vw;
    text-align: left;
    color: #ffffff;
}

.creative-text {
    font-size: 16px;
    color: rgb(180, 180, 180);
}

@media (max-width: 768px) {

    .projectwrapper {
        flex-direction: column;
        align-items: center;
    }

    .projectcol1box {
        width: 80vw;

        min-width: 140px;

        height: auto;
    }

    .projectcol2box {
        width: 80vw !important;

        min-width: 140px;

        height: auto;

    }
}

/* .kosukadev {
    font-size: 22px;
    padding: 8px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    user-select: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 400;
    display: inline-block;
    align-items: center;
    margin-right: auto;
}

.kosukadev:hover {
    color: #9af1ff;
}

a.kosukadev {
    text-decoration: none;
} */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-link {
    font-size: 24px;
    color: white;
    font-weight: 800;
}

.left-link:hover {
    color: #9263dd;
}

a.left-link {
    text-decoration: none;
}

.right-links {
    display: flex;
    align-items: center;
}

.blender-wrapper {
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 768px) {

    .blender-wrapper {
        width: 80vw;
    }
}

.top-box {
    display: flex;
    width: 100%;
    height: 30vh;
    box-shadow: 0 0 5px 2px #c4baff69;
    border-radius: 5px;
    background-color: #6f677d1e;
}

.top-box img {
    width: 33.33%;
    height: 100%;
    object-fit: contain;
}

.bottom-box {
    display: flex;
    width: 100%;
    height: 30vh;
}

.bottom-box img {
    width: 33.33%;
    height: 100%;
    object-fit: contain;
}

.abouttext {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}